body{
   
    background-image:url(fondo.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.move-down {
    
    margin-top: 50px;
    margin-left: 15px;
}


.button-container {
    display: flex;
    align-items: center;

    margin-left: 1100px;
}
  
.button-container button {
    margin-right: 10px; 
}


